#Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [7]:
type(True)

bool

In [10]:
type('True')

str

In [11]:
type([{
    
}])

list

In [12]:
type({'a': []})

dict

#What data type would best represent the following?
    A term or phrase typed into a search box
        string
    Whether or not a user is logged in
        bool
    A discount amount to apply to a user's shopping cart
        int or float
    Whether or not a coupon code is valid
        bool
    An email address typed into a registration form
        str
    The price of a product
        int or float
    The email addresses collected from a registration form
        list or dict
    Information about applicants to Codeup's data science program
        dict

# 3. For each of the following code blocks:
    Read the expression and predict the evaluated results
    Execute the expression in a Python REPL

In [13]:
# '1' + 2  --- error
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [14]:
# 6 % 4 --- would be 2 because of the remainder
6 % 4

2

In [15]:
# type(6 % 4) --- int
type(6 % 4)

int

In [16]:
# type(type(6 % 4)) --- will give a type function
type(type(6 % 4))

type

In [17]:
# '3 + 4 is ' + 3 + 4 --- will output an error
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [18]:
# 0 < 0 --- output False
0 < 0

False

In [19]:
#'False' == False --- False because its a str to bool comparison
'False' == False

False

In [20]:
# True == 'True' --- False b/c its a str to bool comparison
True == 'True'

False

In [21]:
# 5 >= -5 --- True
5 >= -5

True

In [22]:
# True or "42" --- will give True
True or "42"

True

In [23]:
# 6 % 5 --- will give 1
6 % 5

1

In [24]:
# 5 < 4 and 1 == 1 --- output will be false
5 < 4 and 1 == 1

False

In [25]:
# 'codeup' == 'codeup' and 'codeup' == 'Codeup' --- output will be false b/c of 'C'
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [26]:
# 4 >= 0 and 1 !== '1' --- Output will be an error due to '1 !=='
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (2958492720.py, line 2)

In [27]:
# 6 % 3 == 0 --- will be True
6 % 3 == 0

True

In [28]:
# 5 % 2 != 0 --- will be True
5 % 2 != 0

True

In [29]:
# [1] + 2 --- will return an error off of list
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [30]:
# [1] + [2] --- will return [1, 2]
[1] + [2]

[1, 2]

In [31]:
# [1] * 2 --- will return [1, 1]
[1] * 2

[1, 1]

In [32]:
#[1] * [2] --- return an error for the list
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
# [] + [] == [] --- will return True b/c its empty
[] + [] == []

True

In [34]:
# {} + {} --- will return error in dict
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. Describe the following scenarios. You will need to create and assign variables and use operators.

In [36]:
little_mer = 3
bro_bear = 5
herc = 1
d_fee = 3

5. You have rented some movies for your kids:

        The Little Mermaid for 3 days
        Brother Bear for 5 days
        Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [37]:
(little_mer * d_fee) + (bro_bear * d_fee) + (herc * d_fee)

27

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

        Google: 400 dollars
        Amazon: 380 dollars
        Facebook: 350 dollars
        This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [38]:
goog = 400
amaz = 380
face = 350

10 * face + 6 * goog + 4 * amaz

7420

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [39]:
class_sched_open = True
class_full = True
enroll_student = class_sched_open == True and class_full == False

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [ ]:
product = 1
prem_mem = True
exp_offer = False
product_offer = (prem_mem == True and exp_offer == False) or (product >= 2 and exp_offer == False)

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:

Create a variable that holds a boolean value for each of the following conditions:

    The password must be at least 5 characters
        password >= 5
    The username must be no more than 20 characters
        username <= 20
    The password must not be the same as the username
        password != username
    Bonus Neither the username or password can start or end with whitespace

In [41]:
username = 'codeup'
password = 'notastrongpassword'

username_check = len(username) <= 20 and (username != password)
pw_check = len(password) >= 5 and (username != password)

print(pw_check)
print(username_check)

True
True